html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Overpass Mono';
  height: 100%; }

.title > h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 3em 0 1em 0;
  margin: 0; }

.title > h3 {
  text-transform: uppercase;
  text-align: center;
  padding: 0.5em 0; }

p {
  line-height: 2;
  overflow-wrap: break-word; }

.main_porter {
  background: #670909;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 15%;
  padding-bottom: 15%;
  width: 100%;
  height: 50%; }
  .main_porter .container_main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); }
    .main_porter .container_main h1 {
      font-size: 85px;
      margin: 0; }
    .main_porter .container_main h2 {
      font-size: 25px; }
    .main_porter .container_main h3 {
      font-size: 30px; }

.call_of_papers {
  background: #010101;
  color: white;
  float: left;
  width: 80%;
  padding: 4em 10% 4em 10%; }
  .call_of_papers .container h1 {
    text-align: center;
    padding: 1em; }
  .call_of_papers .container p {
    text-align: center; }
  .call_of_papers .button_link {
    text-align: center;
    padding: 2em 0; }
    .call_of_papers .button_link a {
      text-decoration: none;
      color: white;
      background: #670909;
      padding: 1em 3em;
      border-radius: 2px;
      text-transform: uppercase;
      text-align: center;
      font-size: 13px; }
    .call_of_papers .button_link a:hover {
      font-weight: bold; }

.hackmeeting {
  background: #010101;
  color: white;
  padding: 1em 10% 7em 10%;
  margin: 0 0 0 0; }
  .hackmeeting .body {
    margin: 0 0 3em 0; }
    .hackmeeting .body p {
      text-align: center;
      margin: 0; }
  .hackmeeting .button_link {
    text-align: center; }
    .hackmeeting .button_link a {
      text-decoration: none;
      color: white;
      background: #670909;
      padding: 1em 3em;
      border-radius: 2px;
      text-transform: uppercase;
      text-align: center;
      font-size: 13px; }
    .hackmeeting .button_link a:hover {
      font-weight: bold; }

.content_head {
  background: #010101;
  display: inline-flex;
  width: 100%;
  color: white; }
  .content_head .head_sup {
    width: 100%;
    display: inline-flex; }
    .content_head .head_sup .contact_info {
      width: 50%;
      background: #670909;
      padding: 1em 2em; }
    .content_head .head_sup .dates {
      width: 50%;
      padding: 1em 2em;
      background: #010101; }

.countdown {
  width: 100%;
  background: #670909;
  padding: 3em 0;
  color: white; }
  .countdown #countdown {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding: 0.5em 0; }

.speakers {
  width: 100%;
  background: linear-gradient(black, rgba(0, 0, 0, 0.75)), url("https://pbs.twimg.com/media/DahR79EX4AY5blY.jpg:large");
  background: #010101;
  color: white;
  float: left; }
  .speakers .title h1 {
    padding-bottom: 0; }
  .speakers .title p {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%; }
  .speakers .global_speakers {
    margin-top: 3em;
    padding: 0 9%; }
    .speakers .global_speakers .speaker {
      margin-bottom: 4em;
      width: 31%;
      height: 28em;
      float: left;
      padding: 0.5em; }
      .speakers .global_speakers .speaker .photo img {
        width: 100%; }
      .speakers .global_speakers .speaker .name {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0; }
      .speakers .global_speakers .speaker hr {
        height: 5px;
        width: 50%;
        background-color: #670909;
        border: none; }
      .speakers .global_speakers .speaker .position {
        text-align: center;
        text-transform: uppercase;
        margin-top: 0;
        font-size: 13px; }

.sign_up {
  background: #670909;
  color: white;
  width: 82%;
  padding: 4em 9% 3em 9%;
  float: left; }
  .sign_up .container {
    float: left;
    width: 80%; }
    .sign_up .container h1 {
      text-transform: uppercase;
      font-weight: bold;
      margin: 0; }
    .sign_up .container p {
      margin: 0;
      padding: 1em 0; }
  .sign_up .button_link {
    padding: 2em 0;
    float: right;
    width: 20%;
    text-align: center; }
    .sign_up .button_link a {
      text-decoration: none;
      color: #670909;
      background: white;
      padding: 1em 3em;
      border-radius: 2px;
      text-transform: uppercase;
      text-align: center;
      font-size: 13px; }
    .sign_up .button_link a:hover {
      font-weight: bold; }

.oportunities {
  background: #670909;
  color: white;
  padding: 0 7% 5em 7%;
  float: left; }
  .oportunities .container {
    padding-top: 2em;
    display: inline-flex; }
    .oportunities .container .oportunity {
      text-align: center;
      width: 25%;
      margin: 0 2% em; }
      .oportunities .container .oportunity .icon {
        padding-bottom: 1em; }
        .oportunities .container .oportunity .icon i {
          font-size: 50px;
          color: white; }

.container_global {
  display: inline-flex;
  width: 100%; }
  .container_global .communities {
    background: #670909;
    color: white;
    padding: 0 9% 5em 9%;
    width: 50%; }
    .container_global .communities h1 {
      padding-bottom: 0; }
    .container_global .communities p {
      text-align: center; }
    .container_global .communities .container_community {
      padding-top: 2em; }
      .container_global .communities .container_community .community {
        width: 41%;
        float: left;
        margin: 1em; }
        .container_global .communities .container_community .community img {
          width: 7em;
          height: auto;
          margin: auto;
          display: block;
          padding: 1.5em 0; }
  .container_global .sponsors {
    background: #010101;
    padding: 0 9% 5em 9%;
    color: white;
    width: 50%; }
    .container_global .sponsors h1 {
      padding-bottom: 0; }
    .container_global .sponsors p {
      text-align: center; }
    .container_global .sponsors .container_sponsor {
      padding-top: 2em; }
      .container_global .sponsors .container_sponsor .sponsor {
        width: 41%;
        float: right;
        margin: 1em; }
        .container_global .sponsors .container_sponsor .sponsor img {
          width: 7em;
          height: auto;
          margin: auto;
          display: block;
          padding: 1.5em 0; }

footer {
  background: #670909;
  padding: 1em 0; }
  footer .social_networks {
    text-align: center; }
    footer .social_networks ul {
      display: inline-flex; }
      footer .social_networks ul li {
        list-style: none; }
        footer .social_networks ul li a {
          text-decoration: none;
          color: white;
          font-family: 'Overpass Mono';
          margin: 0 1em; }

#map {
  height: 400px;
  width: 100%; }

.social_networks_header {
  position: fixed;
  z-index: 50; }
  .social_networks_header ul {
    display: inline-flex;
    list-style: none;
    padding-left: 1em; }
    .social_networks_header ul li a {
      margin: 0.5em;
      text-decoration: none;
      color: white; }

.schedule {
  background: #010101;
  color: white;
  padding: 0 8% 8% 8%;
  width: 84%;
  float: left; }
  .schedule table {
    padding: 2em 0 2em 0;
    border-collapse: collapse; }
    .schedule table td {
      padding: 0.5em 1em 0.5em 1em;
      text-align: center; }
      .schedule table td .speaker_schedule {
        font-style: italic; }
    .schedule table th {
      padding: 1em 0.5em 1em 0.5em;
      background: #670909; }
    .schedule table .head_schedule {
      font-weight: bold;
      text-transform: uppercase; }
    .schedule table .body_schedule {
      border-bottom: 1px solid #111; }
    .schedule table .break_schedule {
      text-transform: uppercase; }
    .schedule table .text_barcamp {
      font-size: 1.5em; }

@media screen and (max-width: 640px) {
  h1 {
    font-size: 20px;
    font-weight: bold; }

  .main_porter {
    padding-top: 15%;
    padding-bottom: 15%;
    width: 100%;
    height: 100%; }
    .main_porter .container_main h1 {
      font-size: 30px;
      margin: 0; }
    .main_porter .container_main h2 {
      font-size: 25px; }
    .main_porter .container_main h3 {
      font-size: 18px; }

  .content_head {
    display: block;
    float: left;
    width: 100%; }
    .content_head .head_sup {
      width: 100%;
      display: block; }
      .content_head .head_sup .contact_info {
        width: auto;
        padding: 2em; }
      .content_head .head_sup .dates {
        width: auto;
        padding: 2em; }

  .countdown {
    width: auto;
    padding: 2em 1em; }
    .countdown #countdown {
      font-size: 20px;
      padding-bottom: 1em; }

  .call_of_papers {
    padding-top: 4em;
    padding-bottom: 4em; }
    .call_of_papers .container p {
      text-align: center; }
    .call_of_papers .button_link a {
      padding: 1em; }

  .speakers {
    padding-top: 3em;
    padding-bottom: 3em; }
    .speakers .global_speakers .speaker {
      width: 95%;
      margin-bottom: 2em;
      height: auto; }

  .sign_up {
    padding-top: 5em;
    padding-bottom: 3em;
    float: left; }
    .sign_up .container {
      float: none;
      width: 100%; }
      .sign_up .container h1 {
        text-align: center; }
      .sign_up .container p {
        text-align: center; }
    .sign_up .button_link {
      width: 100%;
      text-align: center;
      float: none;
      margin: 1em 0 0 0; }

  .oportunities {
    float: left;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 86%; }
    .oportunities .container {
      padding-top: 2em;
      display: block; }
      .oportunities .container .oportunity {
        text-align: center;
        width: 90%;
        float: left;
        padding: 1em 5% 3em 5%; }
        .oportunities .container .oportunity h3 {
          margin: 0; }
        .oportunities .container .oportunity p {
          margin: 0; }

  .container_global {
    display: block;
    width: 100%;
    float: left; }
    .container_global .communities {
      width: 82%;
      float: left; }
    .container_global .sponsors {
      width: 82%;
      float: left; }

  .container_global {
    display: block;
    width: 100%; }
    .container_global .communities .container_community .community {
      width: 96%;
      margin: 2%; }
    .container_global .sponsors .container_sponsor .sponsor {
      width: 96%;
      margin: 2%; }

  footer .social_networks ul {
    padding: 0; } }
@media screen and (max-width: 1024px) and (min-width: 640px) {
  .content_head {
    display: block;
    float: left;
    width: 100%; }
    .content_head .head_sup {
      width: 100%; }

  .sign_up .container {
    float: none;
    width: 100%; }
    .sign_up .container h1 {
      text-align: center; }
    .sign_up .container p {
      text-align: center; }
  .sign_up .button_link {
    text-align: center;
    float: none;
    margin: 1em 0 0 0;
    width: 100%; }

  .speakers .global_speakers .speaker {
    width: 46%; }

  .oportunities {
    float: left;
    width: 86%; }
    .oportunities .container {
      padding-top: 2em;
      display: block; }
      .oportunities .container .oportunity {
        text-align: center;
        width: 46%;
        float: left;
        margin: 2%; }

  .container_global {
    display: block;
    float: left;
    width: 100%; }
    .container_global .communities {
      width: 82%;
      float: left; }
      .container_global .communities .container_community .community {
        width: 27%; }
    .container_global .sponsors {
      float: left;
      width: 82%; }
      .container_global .sponsors .container_sponsor .sponsor {
        width: 27%; } }
@media screen and (min-width: 1024px) {
  .schedule {
    padding: 0 25% 8% 25%;
    width: 50%;
    float: left; } }
#menu {
  display: table;
  padding: 0;
  margin: 0;
  width: 100%;
  background: #670909;
  position: fixed;
  z-index: 40; }
  #menu li {
    display: none;
    text-align: center; }
    #menu li a {
      padding: 1em;
      display: block;
      text-decoration: none;
      color: white;
      text-transform: uppercase; }
    #menu li a:hover {
      background: #010101; }
  #menu li.logo {
    width: 100%;
    background: #670909;
    display: block;
    text-align: left; }
    #menu li.logo p {
      color: rgba(2, 2, 2, 0);
      margin-bottom: 0; }
    #menu li.logo a {
      color: white; }
  #menu li.open {
    display: block; }

#btn-abrir-menu {
  float: right;
  display: none;
  font-size: 28px;
  margin-right: 1em;
  margin-top: 0em;
  color: #eee; }

#btn-abrir-menu {
  display: block; }

/*# sourceMappingURL=styles.css.map */
