$garnet_color: #670909;
@mixin button($background , $color) {
  text-align: center;
  a{
    text-decoration: none;
    color: $color;
    background: $background;
    padding: 1em 3em;
    border-radius: 2px;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
  }
  a:hover{
    color: $background;
    background: $color;

  }
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Overpass Mono';
}
.title > h1{
  text-transform: uppercase;
  text-align: center;
  padding: 3em 0 1em 0;
  margin: 0;
}
.title > h3{
  text-transform: uppercase;
  text-align: center;
  padding: 0.5em 0;
}
p{
  line-height: 2;
}


.main_porter{
  width: 100%;
  img{
    position: absolute;
    width: 100%;
  }
}
.call_of_papers{
  background: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.90)), url("  http://www.phenompeople.com/sites/default/files/styles/blog_featured/public/blog/article/2017-12/Microphone%20Speaker%20Stock%20Photo.jpeg?itok=og3nOnvk");
  color: white;
  margin: 0;
  padding: 6em 10% 5em 10%;
  float: left;
  .container{

    h1{
      margin: 0;
      text-align: center;
      margin-bottom: 1em;
    }
    p{
      text-align: center;
      margin-bottom: 1em;
    }
  }
  .button_link{

    @include button($garnet_color,white);
    padding: 2em 0;
  }
}
.hackmeeting{

  background: black;
  color: white;
  padding: 50% 10% 6em 10%;
  margin: 0 0 0 0;
  .body{
    margin: 0 0 3em 0;
    p{
      text-align: center;
      margin: 0;
    }
  }

  .button_link{
    @include button($garnet_color,white);
  }
}
.content_head{
  background: blue;
  display: inline-flex;
  width: 100%;
  color: white;
  .head_sup{
    width: 50%;
    display: inline-flex;
    .contact_info{
      width: 50%;
      background: $garnet_color;
      padding: 1em;
    }
    .dates{
      width: 50%;
      background: linear-gradient(rgba(103, 9, 9, 0.85), rgba(103, 9, 9, 0.85)), url("http://fdzeta.com/imgcache/206638dz.jpg");
      padding: 1em;
    }
  }
  .countdown{
    width: 50%;
    background: #1a1a1a;
    padding: 1em;
    #countdown{
      font-size: 3em;
      font-weight: bold;
      text-align: center;
      padding: 0.5em 0;
    }
  }
}



.speakers{
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.75)), url("https://pbs.twimg.com/media/DahR79EX4AY5blY.jpg:large");
  color: white;
  float: left;
  .title{
    h1{
      padding-bottom: 0;

    }
    p{
      text-align: center;
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  .global_speakers{
    column-count: 3;
    margin-top: 3em;
    padding: 0 10%;
    .speaker{
      margin-bottom: 4em;
      .photo{
        img{
          width: 100%;
        }
      }
      .name{
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
      }
      hr {
        height: 5px;
        width: 50%;
        background-color: $garnet_color;
        border: none;
      }
      .position{
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}
.sign_up{
  background: $garnet_color;
  color: white;
  width: 80%;
  padding: 4em 10% 3em 10%;
  float: left;
  .container{
    float: left;
    h1{
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
    }
    p{
      margin: 0;
      padding: 1em 0;
    }
  }
  .button_link{
    padding: 2em 0;
    float: right;
    @include button(white, #202020);
  }
}

.oportunities{
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.75)), url("https://media.licdn.com/media/gcrc/dms/image/C5612AQFMt5aHsh_g1w/article-cover_image-shrink_600_2000/0?e=2127081600&v=beta&t=Ra4bD3zJ5OzHPpJ5lu3liUESsPa2G4DC4R_yM8Q6V14");
  color: white;
  padding: 0 10% 5em 10%;
  float: left;
  .container{
    padding-top: 2em;
    display: inline-flex;
    .oportunity{
      text-align: center;
      width: 25%;
      .icon{
        padding-bottom: 1em;
        i{
          font-size: 50px;
          color: white;
        }
      }
    }
  }
}

.container_global{
  display: inline-flex;
  .communities{
    background: $garnet_color;
    color: white;
    padding: 0 3em 5em 3em;
    h1{
      padding-bottom: 0;
    }
    p{
      text-align: center;
    }
    .container_community{

      padding-top: 2em;
      .community{
        width: 50%;
        float: right;
        img{
          height: 60px;
          width: auto;
          margin: auto;
          display: block;
          padding: 1.5em 0;
        }
      }
    }

  }
  .sponsors{

    background: #ece6d8;
    color: black;
    padding: 0 3em 5em 3em;
    .title{
      h1{
        padding-bottom: 0;
      }
      p{
        text-align: center;
      }
    }
    .container_sponsor{
      padding-top: 2em;
      .sponsor{
        width: 50%;
        float: right;
        img{
          height: 60px;
          width: auto;
          margin: auto;
          display: block;
          padding: 1.5em 0;
        }
      }
    }
  }
}
footer{
  background: $garnet_color;
  padding: 1em 0;
  .social_networks{
    text-align: center;
    ul{
      display: inline-flex;
      li{
        list-style: none;
        a{
          text-decoration: none;
          color: white;
          font-family: 'Overpass Mono';
          margin: 0 1em;
        }
      }
    }
  }
}

#map {
 height: 400px;
 width: 100%;
}

.social_networks_header{
  position: absolute;
  ul{
    display: inline-flex;
    list-style: none;
    padding-left: 1em;
    li{
      a{
        margin: 0.5em;
        text-decoration: none;
        color: white;
      }
    }
  }
}

header{
  width: 100%;
  height: 53px;
  background: $garnet_color;
  button{
    outline: none;
    width: 40px;
    height: 38px;
    border: none;
    float: right;
    background: transparent;
    margin: 1em 2em 0 0;
    span{
      width: 40px;
      height: 4px;
      background-color: white;
      position: absolute;
      right: 0;
      border-radius: 1px;
      top: 2em;
      right: 2em;
    }
    span:before{
      content: '';
      width: 40px;
      height: 4px;
      background-color: white;
      position: absolute;
      right: 0px;
      top: -15px;
      transition: .3s;
      border-radius: 1px;
    }
    span:after{
      content: '';
      width: 40px;
      height: 4px;
      background-color: white;
      position: absolute;
      right: 0px;
      top: 15px;
      transition: .3s;
      border-radius: 1px;
    }
  }




  .btn-sidebar.toggle {

    span{
      background-color: transparent;
    }
    span:before{
      transform: rotate(45deg);
      top: 0px;
    }
    span:after{
      transform: rotate(-45deg);
      top: 0px;
    }
  }
}
.sidebar{
  width: 100%;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.83);
  left: -100%;
  position: absolute;
  transition: .3s;
  ul{
    margin: 0;
    padding: 0;
    li{
      padding: 15px;
      list-style: none;
      text-align: center;
      a{
        text-decoration: none;
        color: white;
        font-family: 'Overpass Mono';
        text-transform: uppercase;
      }
    }
    li:hover{
      background: $garnet_color;
      cursor: pointer;
    }
  }

}

.active{
  left: 0%;
  transition: .3s;
  position: relative;
}


@media screen and (max-width:640px) {



}
@media screen and (min-width:1024px) {
    /* reglas CSS */
}
