$garnet_color: #670909;
@mixin button($background , $color) {
  text-align: center;
  a{
    text-decoration: none;
    color: $color;
    background: $background;
    padding: 1em 3em;
    border-radius: 2px;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
  }
  a:hover{
    font-weight: bold;
  }
}
html{
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Overpass Mono';
  height: 100%;
}
.title > h1{
  text-transform: uppercase;
  text-align: center;
  padding: 3em 0 1em 0;
  margin: 0;
}
.title > h3{
  text-transform: uppercase;
  text-align: center;
  padding: 0.5em 0;
}
p{
  line-height: 2;
  overflow-wrap: break-word;
}


.main_porter{
  background: $garnet_color;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 15%;
  padding-bottom: 15%;
  width: 100%;
  height: 50%;
  .container_main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    h1{
      font-size: 85px;
      margin: 0;
    }
    h2{
      font-size: 25px;
    }
    h3{
      font-size: 30px;
    }
  }
}
.call_of_papers{
  background: #010101;
  color: white;
  float: left;
  width: 80%;
  padding: 4em 10% 4em 10%;
  .container{
    h1{
      text-align: center;
      padding: 1em;
    }
    p{
      text-align: center;
    }

  }
  .button_link{

    @include button($garnet_color,white);
    padding: 2em 0;
  }
}
.hackmeeting{
  background: #010101;
  color: white;
  padding: 1em 10% 7em 10%;
  margin: 0 0 0 0;
  .body{
    margin: 0 0 3em 0;
    p{
      text-align: center;
      margin: 0;
    }
  }

  .button_link{
    @include button($garnet_color,white);
  }
}
.content_head{
  background: #010101;
  display: inline-flex;
  width: 100%;
  color: white;
  .head_sup{
    width: 100%;
    display: inline-flex;
    .contact_info{
      width: 50%;
      background: $garnet_color;
      padding: 1em 2em;

    }
    .dates{
      width: 50%;
      padding: 1em 2em;
      background: #010101;

    }
  }
}
.countdown{
  width: 100%;
  background: $garnet_color;
  padding: 3em 0;
  color: white;
  #countdown{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding: 0.5em 0;
  }
}
.speakers{
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.75)), url("https://pbs.twimg.com/media/DahR79EX4AY5blY.jpg:large");
  background: #010101;
  color: white;
  float: left;
  .title{
    h1{
      padding-bottom: 0;

    }
    p{
      text-align: center;
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  .global_speakers{
    margin-top: 3em;
    padding: 0 9%;
    .speaker{
      margin-bottom: 4em;
      width: 31%;
      height: 28em;
      float: left;
      padding: 0.5em;
      .photo{
        img{
          width: 100%;
        }
      }
      .name{
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0;
      }
      hr {
        height: 5px;
        width: 50%;
        background-color: $garnet_color;
        border: none;
      }
      .position{
        text-align: center;
        text-transform: uppercase;
        margin-top: 0;
        font-size: 13px;
      }
    }
  }
}
.sign_up{
  background: $garnet_color;
  color: white;
  width: 82%;
  padding: 4em 9% 3em 9%;
  float: left;
  .container{
    float: left;
    width: 80%;
    h1{
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
    }
    p{
      margin: 0;
      padding: 1em 0;
    }
  }
  .button_link{
    padding: 2em 0;
    float: right;
    width: 20%;
    @include button(white, $garnet_color);
  }
}
.oportunities{
  background: #670909;
  color: white;
  padding: 0 7% 5em 7%;
  float: left;
  .container{
    padding-top: 2em;
    display: inline-flex;
    .oportunity{
      text-align: center;
      width: 25%;
      margin: 0 2%em;
      .icon{
        padding-bottom: 1em;
        i{
          font-size: 50px;
          color: white;
        }
      }
    }
  }
}


.container_global{
  display: inline-flex;
  width: 100%;
  .communities{
    background: $garnet_color;
    color: white;
    padding: 0 9% 5em 9%;
    width: 50%;
    h1{
      padding-bottom: 0;
    }
    p{
      text-align: center;
    }
    .container_community{
      padding-top: 2em;
      .community{
        width: 41%;
        float: left;
        margin: 1em;
        img{
          width: 7em;
          height: auto;
          margin: auto;
          display: block;
          padding: 1.5em 0;
        }
      }
    }
  }
  .sponsors{
    background: #010101;
    padding: 0 9% 5em 9%;
    color: white;
    width: 50%;
    h1{
      padding-bottom: 0;
    }
    p{
      text-align: center;
    }
    .container_sponsor{
      padding-top: 2em;
      .sponsor{
        width: 41%;
        float: right;
        margin: 1em;
        img{
          width: 7em;
          height: auto;
          margin: auto;
          display: block;
          padding: 1.5em 0;
        }
      }
    }
  }
}

footer{
  background: $garnet_color;
  padding: 1em 0;
  .social_networks{
    text-align: center;
    ul{
      display: inline-flex;
      li{
        list-style: none;
        a{
          text-decoration: none;
          color: white;
          font-family: 'Overpass Mono';
          margin: 0 1em;
        }
      }
    }
  }
}
#map {
 height: 400px;
 width: 100%;
}
.social_networks_header{
  position: fixed;
  z-index: 50;
  ul{
    display: inline-flex;
    list-style: none;
    padding-left: 1em;
    li{
      a{
        margin: 0.5em;
        text-decoration: none;
        color: white;
      }
    }
  }
}

.schedule{
  background: #010101;
  color: white;
  padding: 0 8% 8% 8%;
  width: 84%;
  float: left;
  table{
    padding: 2em 0 2em 0;
    border-collapse: collapse;
    tr{

    }
    td{
      padding: 0.5em 1em 0.5em 1em;
      text-align: center;
      .speaker_schedule{
        font-style: italic;
      }
    }
    th{
      padding: 1em 0.5em 1em 0.5em;
      background: #670909;
    }
    .head_schedule{
      font-weight: bold;
      text-transform: uppercase;

    }
    .body_schedule{
      border-bottom: 1px solid #111;

    }
    .break_schedule{
      text-transform: uppercase;
    }
    .text_barcamp{
      font-size: 1.5em;
    }
  }

}

@media screen and (max-width:640px) {
  h1{
    font-size: 20px;
    font-weight: bold;
  }
  .main_porter{
    padding-top: 15%;
    padding-bottom: 15%;
    width: 100%;
    height: 100%;
    .container_main{

      h1{
        font-size: 30px;
        margin: 0;
      }
      h2{
        font-size: 25px;
      }
      h3{
        font-size: 18px;
      }
    }
  }
  .content_head{
    display: block;
    float: left;
    width: 100%;
    .head_sup{
      width: 100%;
      display: block;
      .contact_info{
        width: auto;
        padding: 2em;
      }
      .dates{
        width: auto;
        padding: 2em;
      }
    }
  }
  .countdown{
    width: auto;
    padding: 2em 1em;
    #countdown{
      font-size: 20px;;
      padding-bottom: 1em;
    }
  }
  .call_of_papers{
    padding-top: 4em;
    padding-bottom: 4em;
    .container{
      p{
        text-align: center;
      }
    }
    .button_link{
      a{
        padding: 1em;
      }
    }
  }
  .speakers{
    padding-top: 3em;
    padding-bottom: 3em;
    .global_speakers{
      .speaker{
        width: 95%;
        margin-bottom: 2em;
        height: auto;
      }
    }
  }
  .sign_up{
    padding-top: 5em;
    padding-bottom: 3em;
    float: left;

    .container{
      float: none;
      width: 100%;
      h1{
        text-align: center;
      }
      p{
        text-align: center;
      }
    }
    .button_link{
      width: 100%;
      text-align: center;
      float: none;
      margin: 1em 0 0 0;
    }
  }
  .oportunities{
    float: left;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 86%;
    .container{
      padding-top: 2em;
      display: block;
      .oportunity{
        text-align: center;
        width: 90%;
        float: left;
        padding: 1em 5% 3em 5%;
        h3{
          margin: 0;
        }
        p{
          margin: 0;
        }
      }
    }
  }
  .container_global{
    display: block;
    width: 100%;
    float: left;
    .communities{
      width: 82%;
      float: left;
    }
    .sponsors{
      width: 82%;
      float: left;
    }
  }

  .container_global{
    display: block;
    width: 100%;
    .communities{
      .container_community{
        .community{
          width: 96%;
          margin: 2%
        }
      }
    }
    .sponsors{
      .container_sponsor{
          .sponsor{
            width: 96%;
            margin: 2%;
          }
      }
    }
  }

  footer{
    .social_networks{
      ul{
        padding: 0;
      }
    }
  }
}
@media screen and (max-width:1024px) and (min-width:640px) {

  .content_head{
    display: block;
    float: left;
    width: 100%;
    .head_sup{
      width: 100%;
    }
  }

  .sign_up{

    .container{
      float: none;
      width: 100%;
      h1{
        text-align: center;
      }
      p{
        text-align: center;
      }
    }
    .button_link{
      text-align: center;
      float: none;
      margin: 1em 0 0 0;
      width: 100%;
    }
  }
  .speakers{
    .global_speakers{
      .speaker{
       width: 46%;
      }
    }
  }


  .oportunities{
    float: left;
    width: 86%;
    .container{
      padding-top: 2em;
      display: block;
      .oportunity{
        text-align: center;
        width: 46%;
        float: left;
        margin: 2%;
      }
    }
  }

  .container_global{
    display: block;
    float: left;
    width: 100%;
    .communities{
      width: 82%;
      float: left;
      .container_community{
        .community{
          width: 27%;
        }
      }
    }
    .sponsors{
      float: left;
      width: 82%;
      .container_sponsor{
        .sponsor{
          width: 27%;
        }
      }
    }

  }

}
@media screen and (min-width:1024px) {
  .schedule{
    padding: 0 25% 8% 25%;
    width: 50%;
    float: left;
  }
}


#menu {
  display: table;
  padding: 0;
  margin: 0;
  width: 100%;
  background: $garnet_color;
  position: fixed;
  z-index: 40;
  li{
    display: none;
    text-align: center;

    a{
      padding: 1em;
      display: block;
      text-decoration: none;
      color: white;
      text-transform: uppercase;
    }
    a:hover{
      background: #010101;
    }
  }
  li.logo{
    width: 100%;
    background: $garnet_color;
    display: block;
    text-align: left;
    p{
      color: rgba(2, 2, 2, 0);
      margin-bottom: 0;
    }
    a{
      color: white;
    }
  }
  li.open{
    display: block;
  }
}

#btn-abrir-menu{
  float: right;
  display: none;
  font-size: 28px;
  margin-right: 1em;
  margin-top: 0em;
  color: #eee;
}
#btn-abrir-menu{
  display: block;
}
